._2EiVtVDoAcyNSZLh2w8Bnu {
  display: inline-flex;
  align-items: center;
  padding: 1em; }

._1KFmyCVuHnuPS4rNFq-Q6K {
  color: #333;
  padding: 0 1em; }

._1ckVBDwkjKAWo4SoaL7SdN {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  background-color: #eee;
  color: #333;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none; }
  ._1ckVBDwkjKAWo4SoaL7SdN:hover {
    background-color: #e1e1e1; }
  ._1ckVBDwkjKAWo4SoaL7SdN:active {
    background-color: #d5d5d5; }
